div.theme {
  width: 250px;
  height: 100px;
  background: var(--topbar-bg);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  margin-right:10px;
  display:inline-block;
  position:relative;
}

div.theme .header {
  margin: 0;
}

div.theme .author {
  opacity: 0.5;
  margin:0;
}

div.theme button.apply {
    position:absolute;
    bottom:20px;
    right:20px;
    width:70px;
}

div.theme div.color-preview {
    position:absolute;
    bottom:25px;
    left:20px;
    width:100px;
    height:25px;
    line-height:0.7;
}
div.theme div.color-preview div.segment {
    display:inline-block;
    width:20px;
    height:12.5px;
}

div.theme span.material-icons.green {
    position: absolute;
    top:20px;
    right:20px;
}