.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.blue {
  color: var(--blue);
}
.purple {
  color: var(--purple);
}
.aqua {
  color: var(--aqua);
}
.gray {
  color: var(--gray);
}
.orange {
  color: var(--orange);
}
