div.headerbar {
  top: 0px;
  left: 0px;
  width: calc(100% - calc(var(--topbar-padding) * 2));
  height: var(--topbar-inner-height);
  padding: var(--topbar-padding);
  background-color: var(--topbar-bg);
  box-shadow: var(--topbar-box-shadow);
  position: relative;
  transition:width 0.3s;
}

div.sidebar {
  position: fixed;
  top: var(--topbar-height);
  left: 0px;
  width: calc(var(--sidebar-width) - calc(var(--sidebar-padding) * 2));
  height: calc(100vh - 70px - calc(var(--sidebar-padding) * 2));
  background: var(--sidebar-bg);
  padding: var(--sidebar-padding);
  overflow-x:hidden;
  word-wrap: none;
  transition:width 0.3s, padding 0.3s;
}

div.sidebar * {
  transition:opacity 0.3s, visibility 0.3s;
}

div.content {
  position: fixed;
  top: var(--topbar-height);
  left: calc(var(--sidebar-width));
  width: calc(100% - var(--sidebar-width) - calc(var(--content-padding) * 2));
  height: calc(100vh - 70px - calc(var(--content-padding) * 2));
  padding: var(--sidebar-padding);
  overflow-y: scroll;
  transition:width 0.3s, left 0.3s;
  font-size: 16px;
  line-height: 1;
  word-wrap: break-word;
}

hr {
  border: #fff1 1px solid;
}


a {
  text-decoration: none;
  color:var(--blue);
  font-weight: bold;
  transition:color 0.3s, opacity 0.3s;
}

a:hover {
  opacity: 0.5;
}

a:active {
  opacity: 0.3;
}