div.headerbar h1.header {
  margin-top: 8px;
  margin-left: 10px;
}

div.headerbar div.page-display {
  position: absolute;
  top: 6px;
  right: 30px;
}

div.headerbar div.page-display * {
    vertical-align: middle;
}

div.headerbar #page-dot {
  margin-right: 5px;
  transition: color 0.1s;
}

div.headerbar button.action {
    padding:0;
    margin:0;
    margin-right:20px;
    background: transparent;
    transition:color 0.3s, opacity 0.3s;
    border-bottom:none;

}

div.headerbar button.action:hover {
    color: var(--purple);
    border-bottom:none;
    background-color: transparent;
}

div.headerbar button.action:active {
    opacity: 0.6;
    border-bottom:none;
}

div.headerbar button.action span.material-icons {
    font-size:18px;
}