/*@import url("./colors.scss");*/
@import url("./elements.scss");
@import url("./misc.scss");
@import url("./var.scss");
@import url("./sidebar.scss");
@import url("./page.scss");
@import url("./buttons.scss");

body {
  background: var(--bg);
  color: var(--fg);
  font-family: "Roboto", sans-serif;
}
