/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("./elements.scss");
@import url("./misc.scss");
@import url("./var.scss");
@import url("./sidebar.scss");
@import url("./page.scss");
@import url("./buttons.scss");
@import url("./notes.scss");
@import url("./scrollbars.scss");
@import url("./headerbar.scss");
@import url("./inputs.scss");
@import url("./newnote.scss");
@import url("./mobile.scss");
@import url("./tasks.scss");
@import url("./error.scss");

body {
  background: var(--bg);
  color: var(--fg);
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  outline: none !important;
  user-select: none;
}