.nomargin {
  margin: 0px;
}

.page-holder {
  display:none;
  visibility: hidden;
  opacity: 0;
  width:0;
  height:0;
}

.centered-absolute {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  text-align: center;
}

.bold {
  font-weight: bold;
}

.big {
  font-size:3em;
}