div.note {
  padding: 0.7em;
  width: calc(100% - var(--content-padding));
  height: max-content;
  position: relative;
  border-bottom: #fff1 2px solid;
  padding-top: 20px;
  margin-bottom: 0;
}

div.note .header {
  margin: 0;
}

div.note .header p {
  margin: 0;
}

div.note .content {
  margin: 0;
  white-space: pre;
  font-family: monospace;
}

div.note .content h1,
div.note .content h2,
div.note .content h3,
div.note .content h4,
div.note .content h5 {
  margin: 0;
}

div.note ul {
  margin: 0;
  line-height: 0.7;
}

div.note button.edit,
div.note button.pin,
div.note button.delete {
  position: absolute;
  top: 15px;
  padding: 0;
  background: none;
  transition: color 0.3s, opacity 0.3s;
  border-bottom: none !important;
  background: none !important;
}

div.note button.edit:active,
div.note button.pin:active,
div.note button.delete:active {
  opacity: 0.75;
}

div.note button.delete {
  right: 5px;
}

div.note button.delete:hover {
  color: var(--red);
}

div.note button.pin {
  right: 40px;
}

div.note button.pin:hover {
  color: var(--green);
}

div.note button.edit {
  right: 75px;
}

div.note button.edit:hover {
  color: var(--orange);
}

div.note .content {
  margin-top: 10px;
}

div.note button.pin.unpin:hover {
  color: var(--red);
}
