div.sidebar button.option span.material-icons {
  font-size: 24px;
  margin-right: 10px;
}

div.sidebar button.option * {
  vertical-align: middle;
  transition: color 0.1s;
}

div.sidebar button.option {
  text-align: left;
  background-color: transparent;
  border: none;
  color: var(--fg);
  font-size: 16px;
  width: calc(var(--sidebar-width) - calc(var(--sidebar-padding) * 2));
  transition: color 0.3s, background 0.3s, opacity 0.3s;
  padding: 5px;
  border-radius: 0.25em;
}

div.sidebar button.option + button {
  margin-left: 0;
}

div.sidebar button.option:hover {
  //color: var(--blue);
  background: #ffffff06;
  opacity: 0.7 !important;
}

div.sidebar button.option:active {
  background: #0002;
}

div.sidebar button.page.option.unselected {
  opacity: 0.3;
}

div.sidebar button.page.option.selected {
  opacity: 1;
}

div.sidebar button.page.option.fast-opacity-tran {
  transition: color 0.1s, background 0.3s, opacity 0.1s;
}

div.sidebar button.option span {
  transition: color 0.1s, opacity 0.3s, visibility 0.3s;
}

body.sidebar-collapsed * {
  --sidebar-width: 90px;
}

body.sidebar-collapsed div.sidebar button > span:not(span.material-icons) {
  visibility: hidden;
  opacity: 0;
  font-size: 0px;
  position: fixed;
}

body.sidebar-collapsed div.sidebar h3 {
  visibility: hidden;
  opacity: 0;
}

body.sidebar-collapsed div.sidebar button {
  display: block;
}

body.sidebar-collapsed div.sidebar button:hover,
body.sidebar-collapsed div.sidebar button:active {
  background: none !important;
}


div.sidebar hr {
  border: #fff1 1px solid;
}