:root {
  --topbar-bg: #0003;
  --topbar-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --topbar-height: calc(var(--topbar-inner-height) + var(--topbar-padding) * 2);
  --topbar-inner-height: 50px;
  --topbar-padding: 10px;

  --sidebar-width: 280px;
  --sidebar-bg: #ffffff04;
  --sidebar-padding: 25px;

  --content-padding: 25px;
  --content-width:calc(100% - var(--sidebar-width) - var(--content-padding) * 2)

  --view-all-link-fg: rgba(255, 255, 255, 0.25);
  --note-card-bg: #3f3f4a;
  --card-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);

  --page-switcher-inactive-clr: rgba(255, 255, 255, 0.5);
  --page-switcher-active-clr: #1e90ff;

  --input-bg: #ffffff06;
}
